.posts {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.posts-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.create-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 350px;
}

